# Node & Build artifacts
**/node_modules/
node_modules/
**/dist/
dist/
**/build/
build/
.vite/
**/.vite/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor / OS
.DS_Store
Thumbs.db
.vscode/
.idea/
